<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/styles.css?v=1.0">
		<script type="text/javascript" src="scripts/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="scripts/angular.js"></script>
		<script type="text/javascript" src="scripts/constants.js"></script>
		<script type="text/javascript" src="scripts/tools.js"></script>
		<script type="text/javascript" src="scripts/case.js"></script>
		<script type="text/javascript" src="scripts/plateau.js"></script>
		<script type="text/javascript" src="scripts/piece.js"></script>
		<script type="text/javascript" src="scripts/player.js"></script>
		<script type="text/javascript" src="scripts/partie.js"></script>
		<script type="text/javascript" src="scripts/referee.js"></script>
		<script type="text/javascript" src="scripts/engine.js"></script>
		<script type="text/javascript" src="scripts/display-service.js"></script>
		<script type="text/javascript" src="scripts/event-listener.js"></script>
	</head>
	<body style="overflow: hidden">
		<div ng-app="myApp" ng-controller="myCtrl">
			<div id="info-partie">
				<span class="info">TYPE PARTIE: {{display.getRefereeRuntimeMode()}}</span><br/>
				<span class="info">JOUEUR: {{display.getCurrentPlayerName()}}</span><br/>
				<span class="info">POINTS: {{display.getCurrentPlayerTourPoint()}}</span><span ng-show="display.showCurrentPlayerPointsEconomise()"> (+{{display.getCurrentPlayerPointsEconomise()}})</span><br/>
				<span class="info">MAR&Eacute;E: {{display.getCurrentMareeName()}}</span><br/>
				<span class="info">SUIVANTE: {{display.getNextMareeName()}}</span><br/>
			</div>
			<div id="soute" class="soute">
				<div 
					ng-repeat="pieceId in display.getContenuSoute()" 
					ng-class="display.getCssPieceSoute(pieceId)" 
					ng-click="listener.onClickSoute(pieceId)">
				</div>
			</div>
			<div id="fin-tour" ng-click="listener.finDuTour()">
				<span ng-show="display.noActionPointAnymore()">CLIC !<br/></span>
				<span>FIN DU TOUR</span><br/>
				<span ng-show="display.noActionPointAnymore()">CLIC !</span>
			</div>
			<div id="error-popup"
				ng-show="display.getError().showErrorPopup">
				<span class="titre1">ACTION {{display.getError().actionType.name.toUpperCase()}} IMPOSSIBLE</span><br/>
				<ul><li ng-repeat="errorMessage in display.getError().errorMessages">{{errorMessage}}</li></ul>
			</div>
			<!-- class pour le css, id pour jquery (méthode display.centerPlateau()) --> 
			<div class="container" id="container">
				<div class="plateau" id="plateau">
					<div 
						ng-repeat="ligne in display.getPlateau()"
						class="hexagon-row">
						<div 
							ng-repeat="hexagonalCase in ligne"
							ng-class="display.getCssCase(hexagonalCase)" 
							ng-click="listener.onClick(hexagonalCase)">
							<div class="explosion" ng-show="hexagonalCase.explose"></div>
							<div 
								ng-show="display.isPieceOnCase(hexagonalCase)" 
								ng-class="display.getCssPiece(hexagonalCase)">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
var app = angular.module('myApp', []);

app.factory('PlateauService', [ function() {
	var plateau = new Plateau();
	return {
		getPlateau: function() {
			return plateau.cases;
		}
	}
}]);
app.factory('Tools', [ function() {
	return new Tools();
}]);

app.factory('PartieLoader', ['$http', '$q', function($http, $q) {
	var deferred = $q.defer();
	if (window.location.protocol == 'file:') {
		var randomCurrentMaree = Math.floor((Math.random() * 3));
		var randomNextMaree = Math.floor((Math.random() * 3));
		partieDatas = {
			tour: 0,
			tourPlayer: 0,
			tourPoints: 15,
			currentMaree: MAREES[randomCurrentMaree],
			nextMaree: MAREES[randomNextMaree],
			players: [
				// C'est très important que l'id des joueurs suive l'ordre de 
				// l'index du tableau car on les indexe par l'id ensuite
				// TODO N'utiliser que l'id comme identifiant
				new Player(0, 'Damien'),
				new Player(1, 'Noémie')
			],
			pieces: [
				new Piece(1, PIECE_TYPE.TANK, 2, 9), 
				new Piece(1, PIECE_TYPE.TANK, 3, 9), 
				// new Piece(2, 1, PIECE_TYPE.TANK, 2, 8), 
				new Piece(0, PIECE_TYPE.TANK, 5, 9), 
				new Piece(0, PIECE_TYPE.TANK, 6, 9), 
				new Piece(0, PIECE_TYPE.TANK, 6, 8), 
				new Piece(0, PIECE_TYPE.TANK, 7, 8),
				new Piece(0, PIECE_TYPE.TANK, 7, 7),
				new Piece(1, PIECE_TYPE.TANK, 33, 11),
				new Piece(1, PIECE_TYPE.TANK, 34, 12), 
				new Piece(1, PIECE_TYPE.TANK, 34, 13),
				new Piece(0, PIECE_TYPE.BARGE, 7, 9, ORIENTATION.SO),
				new Piece(1, PIECE_TYPE.BARGE, 33, 12, ORIENTATION.SO)
			]
		};
		deferred.resolve(partieDatas);
	} else {
		var httpRequest = {
			method: 'POST',
			// Nécessite un reverse proxy
			// cf /etc/apache2/sites-enabled/000-default.conf
			url: '/full-metal-planet-server/init',
			// headers: {
			// 	Origin: 'http://cyrille-zenika/full-metal-planet/'
			// },
			// data: {id: 0, name: partie.getPlayer().name}
			data: {}
		};
		console.log('init request to server:' + JSON.stringify(httpRequest));

		// var deferred = $q.defer();
		$http(httpRequest)
			.success(function(data, status, headers, config) {
				partieDatas = data,
				deferred.resolve(partieDatas);
			})
			.error(function(data, status, headers, config) {
				console.log('error: HttpResponse.status: ' + JSON.stringify(status));
				console.log('error: HttpResponse.data: ' + JSON.stringify(data));
				console.log('error: HttpResponse.headers: ' + JSON.stringify(headers));
				console.log('error: HttpResponse.config: ' + JSON.stringify(config));
				actionReport = {
					status: false,
					errorMessages: ['Erreur lors de l\'appel au serveur', 'Regardez les logs dans la console']
				}
				deferred.reject(actionReport);
			})
	}
	return deferred.promise;
}]);
app.controller('myCtrl', ['$scope', '$http', 'PartieLoader', 'PlateauService', 'Tools', function($scope, $http, PartieLoader, PlateauService, Tools) {

	PartieLoader.then(function(partieDatas) {
		var refereeRuntimeMode;
		if (window.location.protocol == 'file:') {
			refereeRuntimeMode = REFEREE_RUNTIME_MODE.LOCAL;
		} else {
			refereeRuntimeMode = REFEREE_RUNTIME_MODE.REMOTE;
		}
		var partie = new Partie(refereeRuntimeMode, partieDatas, PlateauService.getPlateau(), Tools);
		var referee = new Referee($http, partie, Tools);
		var engine = new Engine(partie, Tools);
		var displayService = new DisplayService(partie);
		displayService.init();
		var eventListener = new EventListener(partie, referee, engine, Tools, displayService);

		$scope.listener = eventListener;
		$scope.display = displayService;

		// Initialisation plateau
		$scope.display.centerPlateau();
	})
}]);
// }
		</script>
	</body>
</html>
