<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css?v=1.0">
		<script type="text/javascript" src="scripts/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="scripts/angular.js"></script>
		<script type="text/javascript" src="scripts/constants.js"></script>
		<script type="text/javascript" src="scripts/tools.js"></script>
		<script type="text/javascript" src="scripts/case.js"></script>
		<script type="text/javascript" src="scripts/plateau.js"></script>
		<script type="text/javascript" src="scripts/piece.js"></script>
		<script type="text/javascript" src="scripts/player.js"></script>
		<script type="text/javascript" src="scripts/partie.js"></script>
		<script type="text/javascript" src="scripts/engine.js"></script>
	</head>
	<body style="overflow: hidden">
		<div ng-app="myApp" ng-controller="myCtrl">

			<!-- Voir la directive hexagonalCase associée -->
<!-- 			<label>Marée: <select 
				ng-model="currentMaree" 
				ng-options="maree.value as maree.name for maree in marees">
			</select></label> -->
			<div id="info-partie">
				<!-- <span class="info">JOUEUR: {{partie.getPlayer().name}}</span><br/> -->
				<span class="info">JOUEUR: {{display.getCurrentPlayerName()}}</span><br/>
				<span class="info">POINTS: {{display.getCurrentPlayerTourPoint()}}</span><span ng-show="display.showCurrentPlayerPointsEconomise()"> (+{{display.getCurrentPlayerPointsEconomise()}})</span><br/>
				<span class="info">MAR&Eacute;E: {{display.getCurrentMareeName()}}</span><br/>
				<span class="info">SUIVANTE: {{display.getNextMareeName()}}</span><br/>
			</div>
			<div id="soute" class="soute">
				<div class="soute-container piece {{piece.pieceType.cssName}} {{engine.cssSelectedPieceSoute(piece)}}" ng-repeat="piece in display.getContenuSelectedPiece()" ng-click="engine.onClickSoute(piece)">
				</div>
			</div>
			<div id="fin-tour" ng-click="partie.setTourToNextPlayer(false); engine.centerPlateau()">
				<span>FIN DU TOUR</span><br/>
				<span ng-show="partie.tourPoints <= 0">CLIC ! CLIC !</span>
			</div>
			<div class="container" id="container">
				<div class="plateau" id="plateau">
					<div class="hexagon-row" ng-repeat="ligne in display.getPlateau()">
						<div class="hexagon-case {{hexagonalCase.getCaseTypeMaree(partie.currentMaree).cssName}} {{engine.cssSelectedPiece(hexagonalCase)}}" ng-repeat="hexagonalCase in ligne" ng-click="GameEventListener.onClickCase(hexagonalCase); engine.onClick(hexagonalCase)">
							<!-- {{hexagonalCase.x}}, {{hexagonalCase.y}} -->
							<div class="explosion" ng-show="hexagonalCase.explose"></div>
							<div ng-show="engine.getPieceIfAvailable(hexagonalCase)" class="piece {{engine.getPieceIfAvailable(hexagonalCase).pieceType.cssName}} {{engine.getPieceIfAvailable(hexagonalCase).orientation.cssName}}" right-click="hexagonalCase" coord-x="{{hexagonalCase.x}}" coord-y="{{hexagonalCase.y}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			// Récupération de l'application myApp (ne pas oublier de la déclarer 
			// dans le html)
			var app = angular.module('myApp', []);

			app.factory('PlateauService', [ function() {
				var plateau = new Plateau();
				return {
					getPlateau: function() {
      					return plateau.cases;
    				}
				}
			}]);
			app.factory('PartieService', [ 'PlateauService', function(PlateauService) {
				return new Partie(PlateauService.getPlateau());
			}]);

			app.factory('GameEventListener', [ '$window', function($window) {
				return {
    				onClickCase: function(targetCase) {
    					console.log('CoinCoinCoin: ' + targetCase.caseType.name);
    				},
    				// func1: function(...) { },
    				// func1: function(...) { }, ...
				}
			}]);

			app.factory('GameDisplayService', [ 'PartieService', function(PartieService) {
				return new GameDisplayService(PartieService);
			}]);

			// Définition du controller myCtrl (ne pas oublier de la déclarer dans le html)
			app.controller('myCtrl', ['$scope', 'GameEventListener', 'PartieService', 'GameDisplayService', function($scope, GameEventListener, PartieService, GameDisplayService) {

				$scope.tools = new Tools();
				$scope.partie = PartieService;
				$scope.engine = new Engine($scope.partie);
				$scope.listener = GameEventListener;
				$scope.display = GameDisplayService;
				// console.log('RAW_DATAS.length: ' + RAW_DATAS.length);
				// GameEventListener.hi();
				// $scope.explosionTimer = function() { setTimeout(f)}
			}]);
			// app.directive('rightClick',function() {
			//     document.oncontextmenu = function (e) {
			//        if(e.target.hasAttribute('right-click')) {
			//            return false;
			//        }
			//     };
			//     return function(scope, el, attrs) {
			//         el.bind('contextmenu',function(e) {
			//             scope.engine.onRightClick(attrs.coordX, attrs.coordY);
			//             scope.$apply();
			//         }) ;
			//     }
			// });
		</script>
	</body>
</html>
