<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css?v=1.0">
		<script type="text/javascript" src="scripts/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="scripts/angular.js"></script>
		<script type="text/javascript" src="scripts/plateau.js"></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">

			<!-- Voir la directive hexagonalCase associée -->
			<label>Marée: <select 
				ng-model="currentMaree" 
				ng-options="maree.value as maree.name for maree in marees">
			</select></label>
			<span>Joueur: {{partie.getPlayer().name}}</span>
			<span>Points: {{partie.tourPoints}}</span>
			<button ng-show="partie.tourPoints <= 0" ng-click="partie.setTourToNextPlayer(); engine.centerPlateau()">Fin du tour</button>
			<div id="soute" class="soute">
				<div class="soute-container piece {{piece.pieceType.cssName}}" 
					ng-repeat="piece in engine.getSelectedPiece().contenu" ng-click="engine.onClickSoute(piece)">
				</div>
			</div>
			<hr>
			<div class="container" id="container">
				<div class="plateau" id="plateau">
					<div class="hexagon-row" ng-repeat="ligne in plateau">
						<div class="hexagon-case {{hexagonalCase.getCaseTypeMaree(currentMaree).cssName}} {{engine.cssSelectedPiece(hexagonalCase)}}" ng-repeat="hexagonalCase in ligne" ng-click="engine.onClick(hexagonalCase, currentMaree)">
							<!-- {{hexagonalCase.x}}, {{hexagonalCase.y}} -->
							<div class="explosion" ng-show="hexagonalCase.explose"></div>
							<div ng-show="engine.getPieceIfAvailable(hexagonalCase)" class="piece {{engine.getPieceIfAvailable(hexagonalCase).pieceType.cssName}} {{engine.getPieceIfAvailable(hexagonalCase).orientation.cssName}}" right-click="hexagonalCase" coord-x="{{hexagonalCase.x}}" coord-y="{{hexagonalCase.y}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			// Récupération de l'application myApp (ne pas oublier de la déclarer 
			// dans le html)
			var app = angular.module('myApp', []);

			// Définition du controller myCtrl (ne pas oublier de la déclarer dans le html)
			app.controller('myCtrl', function($scope) {
				$scope.marees = MAREES;
				$scope.currentMaree = $scope.marees[1].value;

				$scope.plateau = initPlateau(PLATEAU);
				$scope.partie = new Partie($scope.plateau);
				$scope.engine = new Engine($scope.partie);

				$scope.explosionTimer = function() { setTimeout(f)}
			});
			// app.directive('rightClick',function() {
			//     document.oncontextmenu = function (e) {
			//        if(e.target.hasAttribute('right-click')) {
			//            return false;
			//        }
			//     };
			//     return function(scope, el, attrs) {
			//         el.bind('contextmenu',function(e) {
			//             scope.engine.onRightClick(attrs.coordX, attrs.coordY);
			//             scope.$apply();
			//         }) ;
			//     }
			// });
		</script>
	</body>
</html>
